/target/
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
.classpath
*.properties
target/m2e-wtp/web-resources/META-INF/maven/pe.edu.upc/OnTime/pom.properties
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
.settings/org.eclipse.wst.common.project.facet.core.xml
target/m2e-wtp/web-resources/META-INF/maven/pe.edu.upc/OnTime/pom.properties
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
*.properties
*.xml
*.component
target/m2e-wtp/web-resources/META-INF/maven/pe.edu.upc/OnTime/pom.properties
.classpath
.settings/org.eclipse.jdt.core.prefs
